<section class="bg-white">
  <div class="grid md:grid-cols-3 px-9 xl:px-32">
    <div class="flex items-center justify-center h-48 sm:h-64 col-span-2 md:col-span-1">
      <img
        src="assets/blind.jpg"
        class="h-full"
      />
    </div>
    <div class="col-span-2 md:h-64 flex items-center justify-center text-center md:text-left">
      <p class="text-base sm:text-lg lg:text-2xl font-medium">
        Recuerda que sólo un humano puede realizar una transcripción en Braille
        100% correcta.
      </p>
    </div>
  </div>
</section>
